
<form method="post">

    <input type="hidden" value="{{ news.id }}" name="id">

    <div class="container justify-content-around align-items-center p-3 offset-3">
        <div class="row p-3">
        <div class="col-md-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" value="{{ news.title }}" name="title">
        </div>
        </div>
        <div class="row p-3">
            <div class="col-md-3">
                <label for="category" class="form-label">Select Category</label>
                {% if ( news.category ) %}
                    <span id="selectedCategory" style="color: grey"> (Selected Category is: {{ news.category }})</span>
                {% endif %}
                <!--<select for="category" class="form-select" multiple="multiple" aria-label="multiple select example" name="category[]">-->
                <select for="category" class="form-select"  name="category">
                    <option selected value="General">General</option>
                    <option value="Sword Art Online : Fatal Bullet">Sword Art Online : Fatal Bullet</option>
                    <option value="Basic Math - Fun With Numbers">Basic Math - Fun With Numbers</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="image" class="form-label" >Illustration optionelle</label>
                <input type="text" class="form-control" name="img_url_news" value="{{ news.img_url_news }}">
            </div>
        </div>
        <div class="row p-3">
            <div class="col-md-6">
                <label for="detail" class="form-label">Detail</label>
                <textarea name="detail" class="form-control">{{ news.detail }}</textarea>
            </div>
        </div>
        <div class="row p-3">
            <div class="col-12">
                <input type="submit" value="Save" class="btn btn-primary">
                <a href="/news" class="btn btn-outline-primary">Back</a>
            </div>
        </div>
    </div>

</form>
