{% if(error) %}
    <div class="row p-3">
        <div class="col-lg-10 offset-1" style="color: red; font-size: 20px;">{{ error }}</div>
    </div>
{% endif %}
<form method="post">

    <input type="hidden" value="{{ news.id }}" name="id">

        <div class="rowEdit p-3">
            <div class="col-md-3">
            <label for="title" class="form-title" style="font-size: 24px; color: #919191">Title</label>
            <input type="text" class="form-control" value="{{ news.title }}" name="title">
            </div>

            <div class="col-md-3">
                <label for="game_id" class="form-select" style="font-size: 24px; color: #919191">Select Game</label>
                <br>
                <select for="category" class="form-select"  name="gameId" value="{{ gameName.name }}">
                    <option value="{{ gameName.name }}">{{ gameName.name }}</option>
                    {% for item in game %}
                           <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="image" class="form-label" style="font-size: 20px; color: #919191">Optional illustration</label>
                <input type="text" class="form-control-img" name="img_url_news" value="{{ news.img_url_news }}">
            </div>
        </div>
        <div class="rowEdit p-3">
            <div class="col-md-3">
                <label for="detail" class="form-label" style="font-size: 24px; color: #919191">Detail</label>
                <textarea id="mytextarea" name="detail" class="form-control-detail">{{ news.detail|raw }}</textarea>
            </div>
        </div>
        <div class="rowEdit p-3">
            <div class="col-12Edit">
                <input type="submit" value="Save" class="btn btn-primary">
                <a href="/news" class="btn btn-outline-primary">Back</a>
            </div>
        </div>

</form>
