{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Teko:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/home.css">
    <!-- Bootstrap CSS -->
{% endblock %}

{% block content %}

        <h1 class="header">WILD GAMING NEWS</h1>

    <div class="row">
        <h5 class="newsShow" style="margin-left: 60px;">{{ news.title }}</h5>
    </div>
        <div class="row">
            {% if (news.gameId == "") %}
                <div class="col-md-2" style="padding: 0;"><a class="btn btn-secondary" style="margin-left: 60px" href="/news">General</a></div>
            {% elseif (game.id != null) %}
                    <div class="col-md-4" style="padding: 0;"><a class="btn btn-secondary" style="margin-left: 60px" href="/game/showGame?id={{ news.gameId }}">{{ game.name }}</a></div>
            {% endif %}
        </div>
        <div class="row justify-content-around align-items-center ">
            {% if (news.img_url_news) %}
            <div class="col-lg-4 col-md-5 col-sm-12 pt-3">
                <img src=" {{ news.img_url_news }}" height="300px">
            </div>
                <div class="col-lg-7 col-md-6 col-sm-11" style= "color: #919191;">
                    <p>{{ news.detail|raw }}</p>
                </div>
                {% else %}
                    <div class="col-lg-4 col-md-5 col-sm-12 pt-3">
                        <img src="/assets/images/logo.png" height="300px">
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-11" style= "color: #919191;">
                        <p>{{ news.detail|raw }}</p>
            {% endif %}

        </div>

        {% if (comments) %}
            <div class="offset-2">
                <div class="card-header">
                    User Comments
                </div>
                <div class="comment-body">
                    {% for item in comments %}
                        <p class="card-text">{{ item.comment }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <form action="/news/addComment" method="post">
            <div class="row pt-3">
                <input type="hidden" value="{{ news.id }}" name="newsId">
                <div class="col-lg-10 col-md-10 col-sm-12">
                    <textarea class="form-control-comment" name="comment" style="background-color: gray"></textarea>
                </div>
                <div class="col-2 pt-2">
                    <input type="submit" value="Comment" class="btncomment btn-primary">
                </div>

            </div>
        </form>
        <div class="row">
            <div class="col-6">
                <a href="/news" class="btn btn-outline-primary m-3">Back</a>
            </div>
        </div>
{% endblock %}

{% block javascript %}<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>{% endblock %}
